/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

li {
    list-style-type: none;
}

/* PROFILE */

.profile-image img {
    border: 10px solid rgb(0, 118, 110);
    border-radius: 50%;
}

.profile {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.profile-image {
}

.profile-bio {
    margin-top: 20px;
}

.profile-user-settings {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}

.profile-stats {
    display: flex;
    margin-bottom: 40px;
}

.profile-stats li {
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.profile-bio {
   font-size: 16px;
}

.profile-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.profile-user-name,
.profile-edit-btn,
.profile-settings-btn {
    height: 30px;
    font-size: 20px;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: auto;
    column-gap: 140px;
    row-gap: 30px;
    justify-content: center;
    margin-top: 70px;
    overflow: hidden;
}

.gallery-image {
   position: relative;
   width: 170%;
   height: 100%;
   object-fit: cover;
   opacity: 1;
   transition: 0.5 ease;
   cursor: pointer;
}

.gallery-image:hover {
    opacity: 0.5;
}

.gallery-item-info {
    position: relative;
    font-size: 15px;
    top: 120px;
}

.visually-hidden {
    display: none;
}

/* LOADER */

.loader {
    width: 50px;
    height: 50px;
    border: 8px solid rgb(86, 86, 86);
    border-radius: 50%;
    margin: 0 auto;
    border-bottom-color: transparent;
    animation: loader 500ms linear infinite;
}
/* SPIN ANIMATIONS */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}



