/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

li {
    list-style-type: none;
}


.profile-image img {
    border: 10px solid rgb(0, 118, 110);
    border-radius: 50%;
}

.profile {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.profile-user-name,
.profile-edit-btn,
.profile-settings-btn,
.profile-image img {
    display: inline-block;
}

.profile-edit-btn,
.profile-settings-btn {
    cursor: pointer;
}

.profile-stats {
    position: absolute;
    top: 170px;
    right: 500px;
}

.profile-stats li {
   display: inline-block;
   font-size: 15px;
   cursor: pointer;
}

.profile-bio {
    position: relative;
    top:250px;
    right: 230px;
    font-size: 12px;
}

.gallery {
    display: grid;
    grid-template-columns: 85px 85px 85px;
    grid-template-rows: auto;
    gap: 65px;
    justify-content: center;
    margin-top: 70px;
    overflow: hidden;
}

.gallery-image {
   position: relative;
   width: 150px;
   height: 170px;
   width: 170%;
   height: 100%;
   object-fit: cover;
   opacity: 1;
   transition: 0.5 ease;
   cursor: pointer;
}

.gallery-image:hover {
    opacity: 0.5;
}

.gallery-item-info {
    position: relative;
    font-size: 15px;
    top: 120px;
}

.visually-hidden {
    display: none;
}





